<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #800020;">
    <span style="margin-left: 10px;" class="navbar-brand">NetFi</span>
    <ul class="navbar-nav">
      <li class="nav-items" style="margin-left: 350px;">
        <a routerLink="prepaid" id="adminPrepaid" routerLinkActive="active" class="nav-link">Prepaid plans</a>
      </li>
      <li class="nav-items" style="margin-left: 100px;">
        <a routerLink="postpaid" id="adminPostpaid" routerLinkActive="active" class="nav-link">Postpaid plans</a>
      </li>
      <li class="nav-items" style="margin-left: 100px;">
        <a routerLink="addons" id="adminAddOns" routerLinkActive="active" class="nav-link">Addons</a>
      </li>
      <li class="nav-items" style="margin-left: 500px;">
        <a r id="adminAddOns" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>