<p>add-postpaid works!</p>
<form [formGroup]="validationForm">

    <div class="container">
      <div class="form-group">
        <input type="text" style="height: 50px;" class="form-control" autocomplete="off" [(ngModel)]="plans.planName"
          formControlName="planName" name="planName" id="planName" placeholder="Enter Plan Name">
        <span class="help-block" *ngIf="!validationForm.get('planName').valid && validationForm.get('planName').touched"
          style="color: red;">Please enter valid name !</span>
      </div><br>
      <div class="form-group">
        <input type="text" style="height: 50px;" class="form-control" autocomplete="off" [(ngModel)]="plans.planType"
          formControlName="planType" name="planType" id="planType" placeholder="Enter Plan Type">
        <span class="help-block" *ngIf="!validationForm.get('planType').valid && validationForm.get('planType').touched"
          style="color: red;">Please enter valid type !</span>
      </div><br>
      <div class="form-group">
        <input type="text" style="height: 50px;" class="form-control" autocomplete="off" [(ngModel)]="plans.planValidity"
          formControlName="planValidity" name="planValidity" id="planValidity" placeholder="Enter Plan Validity">
        <span class="help-block"
          *ngIf="!validationForm.get('planValidity').valid && validationForm.get('planValidity').touched"
          style="color: red;">Please enter plan validity !</span>
      </div><br>
    </div>
  
    <div class="division">
      <div class="form-group">
        <input type="text" style="height: 50px;" class="form-control" autocomplete="off" [(ngModel)]="plans.planPrice"
          formControlName="planPrice" name="planPrice" id="planPrice" placeholder="Enter Plan Price">
        <span class="help-block" *ngIf="!validationForm.get('planPrice').valid && validationForm.get('planPrice').touched"
          style="color: red;">Please enter valid price !</span>
      </div><br>
      <div class="form-group">
        <input type="text" style="height: 50px;" class="form-control" autocomplete="off" [(ngModel)]="plans.planOffer"
          formControlName="planOffers" name="planOffers" id="planOffers" placeholder="Enter Plan Offers">
        <span class="help-block"
          *ngIf="!validationForm.get('planOffers').valid && validationForm.get('planOffers').touched"
          style="color: red;">Please enter valid offer !</span>
      </div><br>
      <div class="form-group">
        <input type="text" style="height: 50px;" class="form-control" autocomplete="off"
          [(ngModel)]="plans.planDetails" formControlName="planDescription" name="planDescription"
          id="planDescription" placeholder="Enter Plan Description">
        <span class="help-block"
          *ngIf="!validationForm.get('planDescription').valid && validationForm.get('planDescription').touched"
          style="color: red;">Please enter valid description !</span>
      </div>
    </div>
  
    <button type="submit" (click)="onSubmit()" [disabled]="!validationForm.valid"
      style="background-color: brown; margin-left: 650px; " class="btn btn-danger">Add Plan</button>
  
  </form>